body {
    font-family: 'Urbanist', sans-serif;
    background-color: #020021;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.knowledge__picture{
    max-width: 500px;
}

.knowledge__img{
    width: 100%;
    display: block;
}

.hero__title {
    font-size: 2rem;
    text-align: center;
}

.knowledge__paragraph {
    text-align: center; /* Centra el texto */
    font-size: 1.5em; /* Tamaño de la fuente */
    font-weight: bold; /* Negrita */
    color: #333; /* Color del texto */
    margin-top: 20px; /* Espacio superior */
}


.login-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px;
    background-color: #1e3c72;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}


button:hover {
    background-color: #2a5298;
}

.forgot-password {
    display: block;
    text-align: center;
    color: #007bff;
    text-decoration: none;
    margin-top: 10px;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    max-width: 600px; /* Ancho máximo del modal */
  }
  
  .close {
    align-items: center;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-content {
    text-align: center; /* Centra todos los elementos horizontalmente */
}

.modal-content img {
    display: block; /* Hace que la imagen sea un bloque para poder centrarla */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}
  


