body {
    margin: 0;
    padding: 0;
    background-color: #fff; /* Aquí se define el color blanco */
}

.soporte-container {
    font-size: 1rem;
    margin-left: 0px;
    padding: 5px;
    background-color: #020021;
    color: #fff;
    text-align: center;
    display: flex; /* Cambia a flexbox para alinear el contenido */
    justify-content: space-between; /* Alinea los elementos al final y al principio */
    align-items: center;
}

#ButtonVolver {
    background-color: #fff;
    color: #020021;
    border: 2px solid #020021;
    border-radius: 50%; /* Forma redonda */
    padding: 10px 20px;
    font-size: 16px;
    transition: all 0.3s; /* Transición suave */
    margin-right: 10px; /* Margen a la derecha para separarlo del borde */
}

#ButtonVolver:hover {
    background-color: #d0d0d0; /* Cambia el color al pasar el cursor */
    transform: scale(1.1); /* Hace el botón más grande */
}


.botonesalcentro {
    text-align: center;
}

button {
    background-color: #020021;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 50px;
    margin: 4px; /* Margen entre los botones */
    margin-right: 10px; /* Margen a la derecha para separarlo del borde */
}

  
button:hover {
    background-color: #191c36;
    transform: scale(1.1);
}


button {
    /* Estilos comunes para todos los botones */
    padding: 8px 16px; /* Padding más pequeño para los botones */
    margin: 4px; /* Margen entre los botones */
}

button {
    margin-top: 10px; /* Espacio entre el textarea y los botones */
}

.vitrinaIA {
    display: flex; /* Cambiar a flexbox */
    flex-direction: column; /* Apilar elementos verticalmente */
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
    height: 60vh; /* Altura del 100% de la ventana */
    margin: 0 auto; /* Centrar horizontalmente */
    width: 50%; /* Ancho del 50% de la pantalla */
    color: #020021; /* Color de la letra */
    font-size: 20px; /* Tamaño de la fuente */
}

textarea#output {
    width: 100%; /* Ocupar todo el ancho del contenedor */
    height: 200px; /* Altura triple */
    margin: 20px 0; /* Margen de 20px arriba y abajo */
    color: #020021; /* Color de la letra */
    font-size: 20px; /* Tamaño de la fuente */
}
